<div class="home-container">
  <div class="header">
    <h1>Medals per Country</h1>
  </div>

  <div class="stats-container">
    <div class="stat-box">
      <span class="label">Number of JOs </span>
      <span class="number">{{ (olympics$ | async)?.length }}</span>
    </div>
    <div class="stat-box">
      <span class="label">Number of countries </span> 
      <span class="number">{{ countries.length }}</span>
    </div>
  </div>

  <div class="chart-container">
    <canvas *ngIf="medalsChartData"
            baseChart
            [type]="'pie'"
            [data]="medalsChartData"
            [options]="chartOptions"
            [plugins]="chartPlugins">
    </canvas>
  </div>
</div>



